body{
    background-color: #121C22;
    font-family:"Avenir", sans-serif;
    color:#5C92AD;
}
#content{
    margin:0px auto;
    height:650px;
    width:100%;
    padding:0px;
}
#left{
    float:left;
    width:50%;
    height:100%;
}

#right{
    float:right;
    width:50%;
    height:100%;
}
#songplayer{
    height:100%;
}
#header{
    width:300px;
    height:170px;
    margin-left:40px;

    color:#FCFCFC;
    text-shadow: 0px 0px 3px white;
   
}
h2,h1,h3{
    font-weight:100;
}

#lyrics{
    font-family: "Avenir Next", sans-serif;
    font-weight:100pt;
    font-size: 14pt;
    width:90%;
    margin-left:50px;
    width:250px;
    height:460px;
    overflow:scroll;
    border-top: 3px solid #0C1317;
    border-bottom: 3px solid #0C1317;
}

#lyrics *{
    margin-top:5px;
}

#lyrics::-webkit-scrollbar{
    display:none;
}
#lyrics *:hover{
    color:#F8E098;
    text-shadow: 0px 0px 5px #E8877C;
}
#bg{
    position:fixed;
    right:0px;
    top:-50px;
    writing-mode: vertical-rl;
    text-orientation: mixed;    
    font-size:140pt;
}

#bgtext{
    margin-right:0px;
    font-weight:900;
    color:#0C1317;
}